<!DOCTYPE html>
<html>
<head>
  <title>Visualisasi Genre Film</title>
  <style>
  * {
    box-sizing: border-box;
  }

  /*Header Style*/
  header {
    background-color: #F08080;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  /* Style the footer */
  footer {
    background-color: #F08080;
    padding: 10px;
    text-align: center;
    color: white;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>
</head>
<body>
  <header>
    <h1>Visualisasi Rating Genre Film</h1>
  </header>
  <img src="static/Figure_1.png" alt="Histogram Rating Genre" width="800" height="600" class="center">
  <footer>
    <a href="/">Back To Main Menu</a>
  </footer>
</body>
</html>
